body {
  margin: 40px;
   font-family: 'Playfair Display', serif;
    background-color: #f4f1ea; 
    color: #2f2f2f;
}
.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

h1 {
    font-weight: 500;
    letter-spacing:1px;
}

button {
 background-color: #444444; /* verde salvia */
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #000000;
    transform: translateY(-2px);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #3e5b3e;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}
